.App{
  display: grid;
  grid-template-areas:
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
  grid-area:h;
  background-color:rgb(112, 138, 160);
}

.header img{
  width:200px;
  height:100%;
}

.nav{
  grid-area:n;
  background-color:rgb(159, 160, 112);
  padding: 10px;
}

.content{
  grid-area:c;
  background-color:rgb(112, 160, 122);
  padding: 10px;
}